@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");

* {
  font-family: "Saira Stencil One", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('./images/hammersmall.png'), auto;
}

.container {
  display: flex;
}

body {
  position: relative;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  height: 700px; */
  /*  */
  width: 100%;
  background: url("./images/grass2.jpg") 0 0 no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.hole {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  height: 30%;
  z-index: 3;
}

.mole {
  width: 50%;
  height: 170px;
  align-items: flex-end;
  overflow: hidden;
  transform: translateY(200%);
  transition: transform 0.5s linear;
  cursor: pointer;
}

.mole.moleAppearing {
  transform: translateY(-20%);
}

/* .whackedMole {
  background: url('./images/poof.gif');
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 4;
} */

h1 {
  color: #6c4c3c;
  text-align: center;
  font-size: 40px;
  display: flex;
  margin: 0;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 100px 50px 0 50px;
  padding: 30px 40px 0 40px;
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 600px;
}

#score {
  font-size: 60px;
}

#score-table {
  display: flex;
  background: hsl(61, 100%, 50%);
  align-items: center;
  justify-content: center;
  border: 0px 50px;
  line-height: 1;
  margin-bottom: 30px;
  border-radius: 60px;
  height: 150px;
  width: 500px;
}

.text {
  justify-content: center;
  align-items: flex-start;
}

h2 {
  color: rgb(179, 116, 116);
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 20px 20px;
}

h3 {
  font-size: 35px;
  text-align: center;
  justify-content: center;
}

#h3-red {
  color: rgb(231, 88, 88);
  margin-left: 30px;
}

#h3-green {
  color: #34b541;
  margin-right: 30px;
}

#clicks {
  font-size: 60px;
}

.cell-1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid: row 1;
  grid-column: 1;
}
.cell-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 1;
  grid-column: 2;
}
.cell-3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 1;
  grid-column: 3;
}
.cell-4 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 2;
  grid-column: 1;
}
.cell-5 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 2;
  grid-column: 2;
}
.cell-6 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 2;
  grid-column: 3;
}
.cell-7 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 3;
  grid-column: 1;
}
.cell-8 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 3;
  grid-column: 2;
}
.cell-9 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 3;
  grid-column: 3;
}

.grids {
  display: flex;
  align-items: flex-start;
  height: 100%;
  top: 0;
}

.gridOfMud {
  display: grid;
  grid-gap: 0 0 4rem 0;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 4rem;
}

.grid-item {
  position: relative;
  align-self: end;
  overflow: hidden;
  height: 100%;
}

.grid-item .poof {
  position: absolute;
  z-index: 10;
  /* top: 0; */
  width: 100%;
}

.gridOfMoles {
  display: grid;
  grid-gap: 0 0 4rem 0;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 250px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: 4rem;
  z-index: 2;
}

.grid-item2 {
  align-self: end;
}

.button {
  justify-content: center;
  margin: 0 auto auto auto;
  color: white;
  background: #6c4c3c;
  border-radius: 10px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  user-select: none;
  line-height: 45px;
  width: 134px;
  height: 70px;
  font-size: 150%;
  width: 300px;
}

.button:active {
  margin-top: 2px;
  margin-bottom: 13px;
  box-shadow: 500px 500px 500px #898581;
}

.three-two-one-go {
  position: absolute;
  margin: 300px 300px 300px 600px;
  z-index: 100;
  top: 0;
  width: 50%;
  height: 50%;
}

.game-over {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isActive {
  opacity: 1;
  z-index: 100;
  background-repeat: no-repeat !important;
}

/* .game-over.isActive div {
  /* width: 35%; */
/* } */ 

.winner{
  background: url("./images/congrats.gif");
  background-size: cover;
}

/* .game-over .loser div {
  background: url("./images/game-over.gif");
} */

.loser{
  background: url("./images/game-over.gif");
  margin: 200px 0 0 700px;
  width: 1000px;
  height: 1000px;
  /* align-items: center;
  justify-content: center;
  width: 500px;
  height: auto; */
}

.bonkSound {
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
